/** This is the template for all the text included inside the home view */
let textTemplate = function(datos_empresa){
  let html=`
    <div>
      <div id="titleLeftBox"><h1>${datos_empresa.caja_izquierda_titulo}</h1></div>
        <div id="titleLeftText"><p>${datos_empresa.caja_izquierda_texto}</p></div>
    </div>
    <div>
      <div id="titleRightBox"><h1>${datos_empresa.caja_derecha_titulo}</h1></div>
      <div id="titleRightText"><p>${datos_empresa.caja_derecha_texto}</p></div>
    </div>
   `;
  return html;
}
/** This is the template where we are going to print after we get the info 
* from the calls we made to the server
*/
let template = function(){
  let html = `
  <section id="tarifas" class="tarifas"></section>
  <div class="flex-containerBoxes" id="homeText"></div>
  `;
  return html;
}

 export {template, textTemplate};