/** The template for the contact page*/
let template = function(){
    let html=`
    <section>
        <h1>Datos generales</h1>
        <p id="datos_generales"></p>
        <h1>Política de privacidad</h1>
        <p id="politica_privacidad"></p>
        <h1>Condiciones de uso</h1>
        <p id="condiciones_uso"></p>
        <h1>Responsabilidades</h1>
        <p id="responsabilidades"></p>
        <h1>Propiedad intelectual e industrial</h1>
        <p id="propiedad_intelectual"></p>
        <h1>Ley aplicable y jurisdicción</h1>
        <p id="ley_aplicable"></p>
    </section>
    
     `;
    return html;
  }
  
   export {template};